.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 10px;
  border: solid 1px;
  padding: 5px;
  border-radius: 12px;
  height: 85dvh;
  width: 95dvw;
}

.card {
  padding: 1rem 3rem;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
}

.label {
  text-align: start;
}

.input {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.input:focus {
  box-shadow: 0 0 0 6px #007bff;
  outline: none;
}

.link {
  color: #1877f2;
  text-decoration: none;
  font-size: 1cqmin;
  transition: text-decoration 0.2s;
}

.link:hover {
  text-decoration: underline;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.button {
  font-size: 1.2rem;
}

.error {
  color: red;
  margin-top: 0.3rem;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    height: 60dvh;
    width: 50dvw;
  }
}

@media (min-width: 1024px) {
  .container {
    height: 88dvh;
    width: 28dvw;
  }
}
