.logout-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  color: #af4e58;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.logout-button:hover,
.logout-button:focus {
  color: #f8041c;
  outline: none;
}

@media (max-width: 1199px) {
  .logout-button {
    color: var(--danger);
    font-size: 1rem;
    font-weight: bold;
  }
}
