.logout-button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-family: inherit;
  color: var(--danger);
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.logout-button:hover,
.logout-button:focus {
  color: #faf8f8;
  outline: none;
}

@media (min-width: 1024px) {
  .logout-button {
    color: #af4e58;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
