.button {
  padding: 8px 13px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease;
  width: fit-content;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.button:disabled {
  background-color: var(--disabled);
  opacity: 0.7;
  cursor: not-allowed;
  transform: none;
}

.button:last-child {
  margin-right: 0;
}

@media (min-width: 1024px) {
  .button {
    padding: 4px 16px;
    margin-top: 0px;
  }
}
