.button {
  padding: 1dvh 2dvw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease;
  color: var(--white);
  margin-right: 8px;
  width: fit-content;
  white-space: nowrap;
}

.button:disabled {
  background-color: var(--bg-disabled);
  opacity: 0.7;
  cursor: not-allowed;
  transform: none;
}

.button:last-child {
  margin-right: 0;
}

@media (max-width: 1199px) {
  .button {
    font-size: 1rem;
    padding: 0.3rem;
  }
}
