.container {
  background-color: var(--primary);
  border-radius: 12px;
  width: 50%;
  padding: 5px;
}

.card {
  background-color: var(--gray-dark);
  padding: 1rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.title {
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}

.subtitle {
  font-size: 1rem;
  color: #87909c;
  margin-bottom: 1rem;
  grid-column: 1 / -1;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.label {
  text-align: start;
  font-size: 1.2rem;
  color: #606770;
  margin-bottom: 15px;
}

.input {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.input:focus {
  box-shadow: 0 0 0 3px #007bff;
  outline: none;
}

.checkboxContainer {
  background-color: var(--white);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1rem;
}

.checkboxContainer:focus {
  box-shadow: 0 0 0 3px #007bff;
  outline: none;
}

.inputCheckbox {
  margin-right: 5px;
  width: 20px;
  height: 25px;
}

.separator {
  border-bottom: 1px solid #dadde1;
  margin: 1.5rem 0;
}

.error {
  color: #ff0000;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  grid-column: 1 / -1;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
  }

  .form {
    grid-template-columns: 1fr;
  }
}
