.container {
  max-width: 100dvw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  color: #1c70be;
  margin-bottom: 2px;
  border-bottom: 1px solid #eaeaea;
}

.phrase {
  text-align: center;
  text-wrap: wrap;
  font-size: 1.2em;
  color: #fff;
  width: 80%;
  margin: 2px auto;
}

.phrase .receivementsSection {
  margin-top: 10px;
}

.phraseReceivements {
  color: var(--teal);
  margin-bottom: 1px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
}
.pagination span {
  margin: 0 15px;
  color: #fff;
}

.paginationControls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.pagination button {
  padding: 8px 16px;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.itemsPerPageSelector {
  display: flex;
  align-items: center;
  gap: 10px;
}

.itemsPerPageSelector select {
  padding: 8px;
  background-color: var(--primary);
}

.itemsPerPageSelector label {
  color: #fff;
}

.active {
  background-color: var(--active);
  color: var(--white);
}

.notActive {
  background-color: var(--notActive);
  color: var(--black);
  font-weight: bold;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
  width: 100%;
}
.cardHeader {
  color: var(--black);
}

.cardBody {
  display: flex;
  justify-content: center;
}

.received {
  display: flex;
  justify-content: center;
  background-color: var(--gray-darker);
  color: var(--white);
}

.notReceived {
  background-color: var(--info);
  color: var(--black);
  font-weight: bold;
}

@media (max-width: 1199px) {
  .cardList {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

@media (max-width: 992px) {
  .cardList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .cardList {
    grid-template-columns: 1fr;
  }
}
