.container {
  width: 93dvw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  color: #1c70be;
  margin-bottom: 10px;
}

.phrase {
  text-align: center;
  text-wrap: wrap;
  font-size: 1.1em;
  width: 90%;
  margin: 5px auto;
}

.phraseReceivements {
  color: var(--teal);
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.active {
  background-color: var(--active);
}

.notActive {
  background-color: var(--notActive);
  font-weight: bold;
}

.cardHeader {
  background-color: var(--info);
  color: var(--blue);
}

.cardBody {
  display: flex;
  justify-content: center;
}

.received {
  display: flex;
  justify-content: center;
  background-color: var(--gray-darker);
  color: var(--white);
}

.notReceived {
  background-color: var(--info);
  color: var(--black);
  font-weight: bold;
}

.cardList {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  grid-template-columns: 1fr;
  margin-top: 2rem;
  width: 93dvw;
}

.totalReceber {
  margin: 24px 0;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.totalReceber span {
  color: var(--teal);
}

@media (min-width: 1024px) {
  .cardList {
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
  }
}
