.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: var(--black); 
  border-bottom: 1px solid #eaeaea;

}

.nav ul {
  /* background-color: var(--primary); */
  border-radius: 5px;
  display: none;
  flex-direction: column;
  width: 97.55dvw;
  height: 60dvh;  
  position: absolute;
  top: 165px;
  left: 8px;
  list-style: none;
}

.nav ul li {
  display: flex;
  align-items: center;
  padding: 0.1rem;
}

.nav.open {
  display: flex;
}

.header h1 {
  font-size: 0.5;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--white); */
  font-size: 1.1rem;
  margin-top: 0px;
}

.user-name {
  color: #007bff;
  margin-right: 10px;
  font-size: 1.2rem;
}

.menuIcon {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 17px;
  left: 0px;
  cursor: pointer;
}

.menuIcon div {
  width: 35px;
  height: 3px;
  background-color: var(--primary);
  margin: 4px 10px;
}

.menuIcon.open div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 10px);
}

.menuIcon.open div:nth-child(2) {
  opacity: 0;
}

.menuIcon.open div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -10px);
}

.menuIcon div {
  transition: all 0.3s ease-in-out;
}

.link {
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  padding: 0.5rem 0;
  transition: color 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}

.linkActive {
  color: var(--white);
}

.linkActive::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link:hover,
.link:focus {
  color: var(--primary);
}

.link:hover::after,
.link:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (min-width: 1024px) {
  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    /* background-color: var(--black); */
    border-bottom: 1px solid #eaeaea;
  }

  .nav ul {
    display: flex;
    flex-direction: row;
    position: static;
    /* background-color: var(--black); */
    height: 10dvh;
  }
  .nav ul li {
    padding: 0 0.3rem;
  }

  .link {
    color: #555;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .linkActive {
    color: #007bff;
  }

  .menuIcon {
    display: none;
  }


}

@media (min-width: 1300px) {  
  
  .user {
    position: absolute;
    top: 60px;
    right: 25px;
  }

}