.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  background-color: var(--black);
  border-bottom: 1px solid #eaeaea;
}

.nav ul {
  list-style: none;
}

.nav li {
  padding: 0 0.3rem;
}

.user {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  color: var(--white);
  font-size: 1.1rem;
}

.user-name {
  color: #007bff;
  margin-right: 10px;
  font-size: 1.2rem;
}

.brand {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.menuIcon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: auto;
}

.menuIcon div {
  width: 25px;
  height: 3px;
  background-color: var(--primary);
  margin: 4px 10px;
}

.menuIcon.open div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 10px);
}

.menuIcon.open div:nth-child(2) {
  opacity: 0;
}

.menuIcon.open div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -10px);
}

.menuIcon div {
  transition: all 0.3s ease-in-out;
}

.link {
  position: relative;
  text-decoration: none;
  color: #555;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 0;
  transition: color 0.2s ease-in-out;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover,
.link:focus {
  color: #007bff;
}

.link:hover::after,
.link:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 1199px) {
  .header h1 {
    font-size: 0.5;
  }
  .nav {
    padding-bottom: 15px;
  }

  .nav ul {
    background-color: var(--primary);
    border-radius: 5px;
    display: none;
    flex-direction: column;
    width: 94.5dvw;
    height: 30dvh;
    position: absolute;
    top: 155px;
    left: 10px;
  }

  .nav ul li {
    display: flex;
    align-items: center;
    padding: 0.1rem;
  }

  .link {
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
  }

  .nav.open {
    display: flex;
  }

  .menuIcon {
    display: flex;
  }

  .user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
}
