.container {
  width: 95dvw;
  margin: 0 auto;
  display: flex;
   justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  color: #1c70be;
  margin-bottom: 10px;
  border-bottom: 1px solid;
}

.phrase {
  font-weight: 600;
  text-align: center;
  text-wrap: wrap;
  font-size: 1.2em;
  width: 80%;
  margin: 10px auto;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 1em;
}

.address a {
  text-decoration: none;
}

.author {
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 1px;
  text-align: right;
}

.author + span {
  color: #1c70be;
  text-align: left;
  font-style: italic;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .address {
    display: grid;
    font-size: 1.2em;
    grid-template-columns: auto auto;
    gap: 8px 12px;
    margin-top: 5px;
  }
}
