.footer {
  background-color: var(--black);
  color: #fff;

  padding: 7px;
  text-align: center;
  font-size: 1.2em;
  margin-top: 0.2rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row;
  }
}
