.received {
  background-color: var(--teal);
}

.notReceived {
  background-color: var(--info);
}

@media (min-width: 1024px) {
  .table tbody tr:hover td:nth-child(1),
  .table tbody tr:hover td:nth-child(2),
  .table tbody tr:hover td:nth-child(3),
  .table tbody tr:hover td:nth-child(4) {
    background-color: var(--primary);
  }

  .table tbody tr td:nth-child(1) {
    /* Cliente */
    width: 40%;
  }

  .table tbody tr td:nth-child(2) {
    /* Recebimento */
    width: 20%;
  }

  .table tbody tr td:nth-child(3) {
    /* Valor */
    width: 20%;
  }

  .table tbody tr td:nth-child(4) {
    /* Valor */
    width: 20%;
  }
}
