.cardField {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cardField span{
  text-align: start;
}
.label {
  font-size: 1rem;
  color: #666;
  font-weight: bold;
}
.value {
  font-size: 1rem;
  color: #333;
}
