* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

#root {
  padding: 0.5rem;
  min-height: 100dvh;

  --h-primary: #0056b3;
  --h-secondary: #6c757d;
  --h-danger: #c82333;
  --h-success: #218838;
  --h-warning: #b08503;
  --h-info: #072f35;
  --h-cancel: #5a6268;
  --h-active: #026118;
  --h-notActive: #014d57;
  --h-disabled: #6b7280;
  --h-light: #e2e6ea;
  --h-dark: #23272b;
  --h-white: #ffffff;
  --h-black: #000000;
  --h-gray: #5a6268;
  --h-gray-dark: #23272b;
  --h-gray-light: #e2e6ea;
  --h-gray-lighter: #ced4da;
  --h-gray-darker: #1c1f23;

  --cancel: #6c757d;
  --active: #02aa29;
  --notActive: #034e58;
  --disabled: #9ca3af;

  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --black: #000000;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-darker: #212529;
  --gray-light: #f8f9fa;
  --gray-lighter: #e9ecef;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

/* --- Variantes --- */

.bg-primary {
  background-color: var(--primary);
}

.bg-primary:hover:not(:disabled) {
  background-color: var(--h-primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-secondary:hover:not(:disabled) {
  background-color: var(--h-secondary);
}

.bg-danger {
  background-color: var(--danger);
}

.bg-danger:hover:not(:disabled) {
  background-color: var(--h-danger);
}

.bg-warning {
  background-color: var(--warning);
}

.bg-warning:hover:not(:disabled) {
  background-color: var(--h-warning);
}

.bg-cancel {
  background-color: var(--cancel);
}

.bg-cancel:hover:not(:disabled) {
  background-color: var(--h-cancel);
}

.bg-active {
  background-color: var(--active);
}

.bg-active:hover:not(:disabled) {
  background-color: var(--h-active);
}

.bg-notActive {
  background-color: var(--notActive);
}

.bg-notActive:hover:not(:disabled) {
  background-color: var(--h-notActive);
}

.bg-info {
  background-color: var(--info);
}

.bg-info:hover:not(:disabled) {
  background-color: var(--h-info);
}

.bg-success {
  background-color: var(--success);
}

.bg-success:hover:not(:disabled) {
  background-color: var(--h-success);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 1px;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.separator {
  border-bottom: 1px solid;
  margin: 0.8rem 0;
}

@media (min-width: 1024px) {
  .actions {
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
}
